<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div class="header" th:fragment="header" >
        header
    </div>

    <div class="footer" th:fragment="footer" >
        <div class="footer-contains" >
            <div class="footer-menu" >
                <span class="icon-home" ></span>
                <span>HOME</span>
            </div>
        </div>
        <div class="footer-contains" >
            <div class="footer-menu" >
                <span class="icon-tag" ></span>
                <span>TAG</span>
            </div>
        </div>
        <div class="footer-contains" >
            <div class="footer-menu" >
                <span class="icon-comments" ></span>
                <span>COMMENTS</span>
            </div>
        </div>
        <div class="footer-contains" >
            <div class="footer-menu" >
                <span class="icon-user" ></span>
                <span>USER</span>
            </div>
        </div>
    </div>
</body>
</html>